div {
  position: relative;
  height: 60px;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  border-bottom: 1px solid rgb(182, 182, 182);
  a:hover {
    color:white;
    background: rgba(102,177,241,0.8);
    transition: all 0.5s ease;
  }
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #eee;
    text-align: center;
    padding: 0 2em;
    text-decoration: none;
    flex: 1;
    letter-spacing: 3px;
    transition: all 0.5s ease;
    font-size: larger;
  }
}

.mid {
    z-index: 0;
    justify-content: right;
}

/* Switch starts here */
.rocker {
  position: relative;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 3.5em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
  margin-top: .2rem;
}

.rocker::before {
  content: "";
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

@media only screen and (max-width: 425px) {
  div {
    height: 45px;
    font-size: 11px;
  }
}