div {
    width: 200px;
    height: 150px;
    padding: 5px;
    margin: 5px;
    background-image: linear-gradient(rgb(255, 171, 93), rgb(255, 133, 20));
    border: 1px solid black;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
}